{{ define "main" }}
	<main id="main">
		<article class="content">
			<h1>{{ .Title }}</h1>
			<div class="entry-meta">
					<span class="posted-on">
						<div rel="bookmark" class="entry-date published updated">{{ .Date.Format "02.01.2006 15:04" }}</div>
					</span>
			</div>
			
			{{ partial "post_image.html" . }}

			<div>
				{{ .Content }}
			</div>

			{{ with .Params.tags }}

			<span class="tags-links">
				Tags:
					{{ range . }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
					{{ end }}
				</span>
			{{ end }}

			<div id="pagination">
					{{ with .PrevInSection }}
					<a href="{{ .Permalink }}">prev: {{ .Title }}</a>
				  {{ end }}

					{{ with .NextInSection }}
			  <a href="{{ .Permalink }}">next: {{ .Title }}</a>
			{{ end }}
			</div>





			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>

	</main>
{{/* partial "sidebar.html" .  */}}
{{ end }}
