{{ define "main" }}
	<main id="main">
		<article id="content" class="page hentry">
			<h1>{{ .Title }}</h1>
			<div class="entry-meta">
					<span class="posted-on"><a href="{{ .Permalink }}" rel="bookmark"><time class="entry-date published updated">{{ .Date.Format "02.01.2006 15:04" }}</time></a></span>
			</div>
			
			<div>
				{{ .Content }}
			</div>

			<div id="pagination">
					{{ with .PrevInSection }}
					<a href="{{ .Permalink }}">prev: {{ .Title }}</a>
				  {{ end }}

					{{ with .NextInSection }}
			  <a href="{{ .Permalink }}">next: {{ .Title }}</a>
			{{ end }}
			</div>



			{{ with .Params.tags }}

			<span class="tags-links">
				Tags:
					{{ range . }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</span>
			{{ end }}





			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>

	</main>
{{/* partial "sidebar.html" .  */}}
{{ end }}
