<article class="content">
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		<div class="entry-meta">
		<span class="posted-on"><a class="entry-date published updated" href="{{ .Permalink }}" rel="bookmark">{{ .Date.Format "02.01.2006 15:04" }}</a></span>
	
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
	{{ end }}
		</div>
		{{ partial "post_image.html" . }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
