<article id="content" class="page hentry">
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		<div class="entry-meta">
		<span class="posted-on"><a href="{{ .Permalink }}" rel="bookmark"><time class="entry-date published updated">{{ .Date.Format "02.01.2006 15:04" }}</time></a></span>
	
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
</div>
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
